{
    "presets": [
        [
            "@babel/env",
            {
                "corejs": "2",
                "useBuiltIns": "entry"
            }
        ]
    ],
    "plugins": [
        "@babel/proposal-object-rest-spread",
        "@babel/plugin-transform-classes"
    ],
    "comments": false
}
