* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.locked {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: calc(var(--scroll-top) * -1);
    left: 0;
    padding-right: var(--scrollbar-width);
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
}

#modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    color: white;
    padding: 2rem 4rem;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s ease;
}

.locked #modal {
    overflow: auto;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s ease;
}

#modal nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#modal input {
    max-width: 100%;
    font-size: 2.5rem;
    transform: translateY(-100px);
    transition: transform 0.5s ease;
}

.locked #modal input {
    transform: translateY(0);
}