@import '../main.scss';

body {
    background-color: #434343;

    html.min-width & {
        min-width: 1110px;
    }

    html.custom-scrollbar & {
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background: black;
        }
        &::-webkit-scrollbar-thumb {
            background: grey;
        }
    }
}

#sticky {
    position: sticky;
    top: 0;
    width: 120px;
    background: red;
    left: 0;
    height: 60px;
}

#nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    text-align: right;

    button {
        appearance: none;
        background: white;
        margin: 2px;
        border: 0 none;
        outline: none;
        color: black;
        border-radius: 0;
    }
}

#wrapper {
    display: flex;
    flex-direction: column;

    html.horizontal & {
        display: block;
        white-space: nowrap;

        > div {
            width: 420px;
            display: inline-block;
            white-space: normal;
            vertical-align: top;
        }
    }
}
