* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.scroll-container {
    height: 200px;
    overflow-y: scroll;
}

.scroll-container--locked {
    overflow: hidden;
    padding-right: calc(var(--offset-width, 0) - var(--client-width, 0));
}