/* - - - - -
 * dependencies
 * - - - - - */
@function decimal-round($number, $digits: 0, $mode: round) {
    $n: 1;
    @if type-of($number) != number {
        @warn '#{ $number } is not a number.';
        @return $number;
    }
    @if type-of($digits) != number {
        @warn '#{ $digits } is not a number.';
        @return $number;
    } @else if not unitless($digits) {
        @warn '#{ $digits } has a unit.';
        @return $number;
    }
    @for $i from 1 through $digits {
        $n: $n * 10;
    }
    @if $mode == round {
        @return round($number * $n) / $n;
    } @else if $mode == ceil {
        @return ceil($number * $n) / $n;
    } @else if $mode == floor {
        @return floor($number * $n) / $n;
    } @else {
        @warn '#{ $mode } is undefined keyword.';
        @return $number;
    }
}
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

/* - - - - -
 * palette
 * - - - - - */
$grey--darkest: #333;
$grey--dark: #666;
$grey: #ccc;
$grey--light: #f2f2f2;
$white: #fff;
$gradient: ($white, $grey);

/* - - - - -
 * typography
 * - - - - - */
$font-size: 13px;
$font-family: 'Open Sans', sans-serif;

/* - - - - -
 * grid
 * - - - - - */
$columns-gutter: 2px;
$columns-gutter--half: $columns-gutter / 2;
$container-width: 1024px;
@mixin inline-list-wrapper {
    display: block;
    width: auto;
    font-size: 0;
}
@mixin inline-list-element($aligment: top) {
    display: inline-block;
    vertical-align: $aligment;
}
@mixin row($indent: $columns-gutter) {
    @include inline-list-wrapper;
    padding-left: 0;
    padding-right: 0;
    min-width: 100%;
    @if ($indent) {
        margin-left: $indent * -1;
        margin-right: $indent * -1;
    }
}
@mixin col($col, $sum, $gutter: $columns-gutter) {
    $w: percentage(decimal-round($col / $sum, 4));
    width: $w;
    @include inline-list-element;
    padding-left: $gutter;
    padding-right: $gutter;
}
@mixin container() {
    width: $container-width;
    max-width: 100%;
    margin: 0 auto;
}

/* - - - - -
 * supported devices
 * - - - - - */
$screen--wide: $container-width;
$screen--medium: 767px;
$screen--narrow: 480px;
@mixin media-narrow {
    @media (max-width: #{$screen--narrow}) {
        @content;
    }
}
@mixin media-until-narrow {
    @media (min-width: #{$screen--narrow + 1}) {
        @content;
    }
}
@mixin media-medium {
    @media (max-width: #{$screen--medium}) {
        @content;
    }
}
@mixin media-until-medium {
    @media (min-width: #{$screen--medium + 1}) {
        @content;
    }
}
@mixin media-wide {
    @media (max-width: #{$screen--wide}) {
        @content;
    }
}
@mixin media-until-wide {
    @media (min-width: #{$screen--wide + 1}) {
        @content;
    }
}

/* - - - - -
 * base
 * - - - - - */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    margin: 0;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

img,
embed,
iframe,
object,
audio,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    text-align: left;
}

%console {
    overflow-x: auto;
    white-space: pre-wrap;
    background: #000;
    color: #fff;
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
        'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
}

pre {
    @extend %console;
}

/* - - - - -
 * playground
 * - - - - - */
* {
    box-sizing: border-box;
}

body {
    position: relative;

    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
    }

    &::before {
        background-color: #434343;
        background-image: linear-gradient(#434343, #282828);
    }

    &::after {
        background-color: transparent;
        background-image: linear-gradient(
                0deg,
                transparent 24%,
                rgba(255, 255, 255, 0.05) 25%,
                rgba(255, 255, 255, 0.05) 26%,
                transparent 27%,
                transparent 74%,
                rgba(255, 255, 255, 0.05) 75%,
                rgba(255, 255, 255, 0.05) 76%,
                transparent 77%,
                transparent
            ),
            linear-gradient(
                90deg,
                transparent 24%,
                rgba(255, 255, 255, 0.05) 25%,
                rgba(255, 255, 255, 0.05) 26%,
                transparent 27%,
                transparent 74%,
                rgba(255, 255, 255, 0.05) 75%,
                rgba(255, 255, 255, 0.05) 76%,
                transparent 77%,
                transparent
            );
        background-size: 50px 50px;
    }
}

#console {
    @extend %console;
    width: 314px;
    height: 153px;
    position: fixed;
    top: 20px;
    right: 20px;
    opacity: 0.75;
    max-width: 100%;

    ul,
    ol,
    li {
        list-style: none;
    }

    li {
        margin: 10px;

        &:before {
            content: '$: ';
        }
    }

    z-index: 5;
}

html.custom-scrollbar body {
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: black;
    }
    &::-webkit-scrollbar-thumb {
        background: grey;
    }
}
