/* iOS only */
html.scroll-padlock--locked.ios {
    /* position fixed hack */
    position: fixed;
    width: 100%;

    /* avoids scroll to top */
    top: var(--scroll-padlock-top-rect);
}

/* standard browsers only */
html.scroll-padlock--locked.not-ios body {
    /* standard way to lock body scroll */
    overflow: hidden;
}

/* both iOS and standard browsers */
html.scroll-padlock--locked {
    /* reserves space for scrollbar */
    padding-right: var(--scroll-padlock-vertical-scrollbar-gap);
}
