$screen-small: 620px;
$screen-big: 1100px;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-light: #dadada99;
$color-grey-dark: #262626;
$margin: 20px;

:root {
    --body-scroll-lock-scrollbar-gap: 0px;
}

html {
    box-sizing: border-box;
    @extend .serif-custom;
    @extend .text-medium;

    &.body-scroll-lock {
        padding-right: var(--body-scroll-lock-scrollbar-gap);
    }

    &.body-scroll-lock body {
        overflow: hidden;
    }

    &.ios.body-scroll-lock {
        position: fixed;
        width: 100%;
        top: var(--body-scroll-lock-top-rect);
    }
}

body {
    @extend .margin;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

* {
    &,
    &:before,
    &:after {
        font-size: inherit;
        font-family: inherit;
        box-sizing: inherit;
        letter-spacing: inherit;
    }
}

.head {
    @extend .flex;
    @extend .sticky;
    @extend .between;
    flex-direction: column;

    // leave meh alone ie11, i just want to test the lib, damn ... :+)
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
    }

    @media (min-width: $screen-small) {
        flex-direction: row;
        height: 280px;
    }

    &__item {
        @extend .padding;

        @media (min-width: $screen-small) {
            width: 50%;
        }
    }
}

.fixed-red-dot {
    position: fixed;
    bottom: 0;
    right: var(--body-scroll-lock-scrollbar-gap);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: red;
}

.wrapper {
    @media (min-width: $screen-small) {
        max-width: 100%;
        width: $screen-small;
        margin: 0 auto;
    }

    @media (min-width: $screen-big) {
        width: $screen-big;
    }
}

.nav {
    &__list {
        @extend .flex;
        @extend .padding;
        @extend .around;
        background: rgba($color-grey-light, 0.6);
        height: 100%;
        flex-direction: column;
    }

    &__button {
        @extend .button;
    }
}

.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 20px;
    }

    &::-webkit-scrollbar-track {
        background: $color-black;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-grey-light;
    }
}

.console {
    @extend .flex;
    @extend .text-small;
    flex-wrap: wrap;
    height: 290px;
    max-height: 100%;
    white-space: pre-wrap;
    color: #fff;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
        "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
        "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
        monospace;

    &__list {
        @extend .flex;
        flex-direction: column;
        overflow-x: auto;
        width: 100%;
        height: 100%;
        background: rgba($color-black, 0.85);

        &__item {
            &,
            &--placeholder {
                margin: 4px 11px;

                & {
                    &:before {
                        content: "$: ";
                    }
                }
            }
        }
    }

    &.head__item {
        @media (max-height: $screen-small) {
            height: 180px;
        }
    }
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}
.around {
    justify-content: space-around;
}

.margin {
    margin: $margin;
}
.padding {
    padding: $margin;
}

.text-small {
    font-size: 12px;
    line-height: 18px;
}

.text-medium {
    font-size: 16px;
    line-height: 27px;
}

.sticky {
    position: sticky;
    top: 0;
}

.button {
    @extend .text-small;
    @extend .serif-standard;
    letter-spacing: 1px;
    padding: 11px 16px;
    background: $color-grey-dark;
    border-radius: 0;
    color: $color-white;

    &:hover {
        background: $color-black;
    }
}

.serif-custom {
    font-family: "Roboto Slab", serif;
}

.serif-standard {
    font-family: Arial, Helvetica, sans-serif;
}
