html {
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    line-height: 27px;
}

body {
    @extend .margin;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

.head {
    @extend .flex;
    @extend .sticky;
    @extend .between;
    flex-direction: column;

    @media (min-width: 500px) {
        flex-direction: row;
        height: 280px;
    }

    &__item {
        @extend .padding;

        @media (min-width: 500px) {
            width: 50%;
        }
    }
}

.wrapper {
    @media (min-width: 620px) {
        max-width: 100%;
        width: 620px;
        margin: 0 auto;
    }

    @media (min-width: 1100px) {
        width: 800px;
    }
}

.nav {
    &__list {
        @extend .flex;
        @extend .padding;
        @extend .around;
        background: red;
        height: 100%;
        flex-direction: column;
    }

    &__button {
        padding: 11px 16px;
        background: #636363;
        border-radius: 0;
        border: 1px solid #8e8e8e;
        line-height: 24px;
        outline: 1px solid #1d1d1d;
        color: white;
        text-shadow: 1px 1px 0px black;
        font-size: inherit;
        font-family: inherit;
        cursor: pointer;
    }
}

.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: black;
    }
    &::-webkit-scrollbar-thumb {
        background: grey;
    }
}

.console {
    @extend .flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 18px;
    height: 290px;
    max-height: 100%;
    white-space: pre-wrap;
    color: #fff;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
        "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
        "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
        monospace;

    &__list {
        @extend .flex;
        flex-direction: column;
        overflow-x: auto;
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.85);

        &__item {
            &,
            &--placeholder {
                margin: 4px 11px;

                & {
                    &:before {
                        content: "$: ";
                    }
                }
            }
        }
    }

    &.head__item {
        @media (max-height: 500px) {
            height: 180px;
        }
    }
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}
.around {
    justify-content: space-around;
}

.margin {
    margin: 20px;
}
.padding {
    padding: 20px;
}

.sticky {
    position: sticky;
    top: 0;
}
